{% extends "base.html" %}

{% block content %}

<h2 class="page-title">Assets Management</h2>

<p class="dash-subtitle">
Upload and manage files used in Wi-Fi lab scenarios.
</p>

<div class="panel">
    <div class="panel-title">Assets</div>

    <p class="small">
        This section will allow administrators to manage lab resources such as:
    </p>

    <ul class="panel-list">
        <li>PCAP captures</li>
        <li>Wordlists</li>
        <li>Scenario files</li>
        <li>Scripts and tools</li>
    </ul>
</div>

{% endblock %}
